
footer {
  width: 100%;height: 300px;
  background-color:#a2352b;
  position: absolute;
  top: 3300px;
  display: flex;
}
footer>div{
  flex: 0.5;
  display: inline-block;
}
footer>div:first-of-type::after{
  content: '';
  width: 1px;height: 250px;
  background-color: rgb(220,220,220);
  position:absolute;
  left: 800px;top: 25px;
}    
#footNav+div img{
  width: 20px;height: 20px;
}
#footNav{
  display: inline-block;     
  padding: 20px 0;
  margin: 20px 0 0 200px;      
  border-bottom: 1px solid rgb(220,220,220)
}
#footNav ul{
  margin: 0;padding: 0;
}
#footNav li{
  list-style: none;
  text-align: center;
  margin: 0 10px;      
  display: inline-block;      
}
#footNav li a{
  color: white;
  font-size: 16px;
}

#placephone{
  display: inline-block;
  margin: 20px 0 0 200px;
}
#placephone>div{
  margin-top: 20px;
}
#placephone span{
  color: white;
}

footer>div:last-of-type div img{
  width: 100px;height: 100px;
}
footer>div:last-of-type div {
  display: inline-block;
  position: relative;
  top: 50px;left: 100px;
}
footer>div:last-of-type div p{
  margin: 5px 0 0 0;
  text-align: center;
  color: white;
  font-size: 11px;
}