main{
  width: 100%;height:500px;
  position: absolute;
  top: 180px;
}

#freeExperience{
  width: 100%;height: 400px;
  position: absolute;
  top: 550px;
}
#freeExperience>div{
  width: 550px;
  margin: 0 auto;
}
.titleContent{
  margin-top: 30px;
}
.titleContent p{
  text-align: center;
}
.titleContent>p:first-of-type{
  font-size: 36px;
}

.imgContent{
  width: 100%;  
  margin-top: 30px;    
  text-align: center;
}
.imgContent li{      
  display: inline-block;
  margin: 0 10px;      
}    
.imgContent img{
  width: 340px;height: 340px;
}
#freeExperience>.imgContent img{
  width: 250px;height: 250px;
}


#news{
  width: 100%;height: 700px;
  position: absolute;
  top: 950px;   
  background-color: #f7f7f7; 
}
#tabNav {
  margin: 50px auto;
  text-align: center;
  width: 400px;
}

.tab-content{
  margin-top: 20px;
  border: none;
}
#tabNav .active{
  color: #a2352b;
  position: relative;
}
#tabNav .active::after{
  content: '';
  width: 50px;height: 2px;
  background-color: #a2352b;
  position: absolute;
  top: 33px;left:50%;
  margin-left: -25px;      
}

.pageUpDown{
  position: relative;
  left: 75%;
}
.pageUpDown>div{
  width:50px;height: 50px;
  font-size: 36px;
  display: inline-block;      
  border: 1px solid #a2352b;
  color: #a2352b;
}
.pageUpDown>div span{
  position: relative;
  top: -4px;left: 12px;
  
}


#training{
  width: 100%;height: 500px;
  position: absolute;
  top: 1650px;   
}
#training>.imgContent img{
  width: 250px;height: 200px;
  position: relative;
}
#training>.imgContent li{
  position: relative;
}
#training>.imgContent li:first-of-type:hover::after{
  content: '戴姆勒Windows10培训成功落幕';
  display: flex;
  text-indent: 25px;
  align-items: center;
  width: 250px;height: 200px;
  background-color: rgb(221, 142, 155);
  opacity: 0.5;
  position: absolute;
  left: 0;top: 0;
  z-index: 5;
}
#training>.imgContent li:nth-of-type(2):hover::after{
  content: '戴姆勒Windows10培训成功落幕';
  display: flex;
  text-indent: 25px;
  align-items: center;
  width: 250px;height: 200px;
  background-color: rgb(221, 142, 155);
  opacity: 0.5;
  position: absolute;
  left: 0;top: 0;
  z-index: 5;
}
#training>.imgContent li:nth-of-type(3):hover::after{
  content: '戴姆勒Windows10培训成功落幕';
  display: flex;
  text-indent: 25px;
  align-items: center;
  width: 250px;height: 200px;
  background-color: rgb(221, 142, 155);
  opacity: 0.5;
  position: absolute;
  left: 0;top: 0;
  z-index: 5;
}
#training>.imgContent li:last-of-type:hover::after{
  content: '戴姆勒Windows10培训成功落幕';
  display: flex;
  text-indent: 25px;
  align-items: center;
  width: 250px;height: 200px;
  background-color: rgb(221, 142, 155);
  opacity: 0.5;
  position: absolute;
  left: 0;top: 0;
  z-index: 5;
}


#placeRent {
  width: 100%;height: 500px;
  position: absolute;
  top: 2150px;
  background-color: #f7f7f7; 
}
#placeRent>.imgContent img{
  width: 250px;height: 200px;
  position: relative;
}
#placeRent>.imgContent li{
  position: relative;
}


#partner {
  width: 100%;height: 500px;
  position: absolute;
  top: 2650px;      
}
#partner>.imgContent{
  /* width: 450px; */
  margin: 20px auto
}
#partner>.imgContent li{
  width: 200px;height: 120px;
  overflow: hidden;
  position: relative;
  border: 1px solid rgb(240, 240, 240);
}
#partner>.imgContent li img{
  width: 150px;height: auto;
}    
#secImgcon1 li:first-of-type img{
  margin-top: 40px;
}
#secImgcon1 li:nth-of-type(2) img{
  width: 100px;height: auto;
  margin-top: 20px;
}
#secImgcon1 li:nth-of-type(3) img{
  margin-top: 20px;
}
#secImgcon2 li img{
  margin-top: 30px;
}
