body>nav {
  height: 50px;width: 100%;
  background-color: black;      
  position: absolute;
  top: 130px;
  display: flex;      
}
body>nav ul{
  margin: 0 auto;      
  align-self: center;
}
body>nav li {
  display: inline-block;
  list-style: none;
  width: 130px;
}
body>nav li a{
  color: white;
  display: block;      
  text-align: center;
}
body>nav li a:hover{
  color: #a2352b;
  text-decoration: none;
}
.activeNav{
  position: relative;
}
.activeNav a{
  color: #a2352b;
}
.activeNav::after{
  content: '';
  width: 20px;height: 2px;
  background-color: #a2352b;
  position: absolute;
  top: 33px;left:50%;
  margin-left: -10px;      
}